

<!--  banner option: put the right context to get the images -->

<!-- The backround of the homepage -->
 
<div style="overflow:hidden; width:100%;background-image:url('../themes/s4q_theme/img/webapp/banner_back.png'); background-repeat: repeat-x;background-position:top;" >
	<div style="float:left"><img src="../themes/s4q_theme/img/webapp/spago4q_left.png" /></div>
	<div style="float:right"><img src="../themes/s4q_theme/img/webapp/spago4q_right.png" /></div>
</div>
